.userProfile {
  display: flex;
  margin-bottom: 20px;
}

.profilePic {
  margin-right: 20px;

  img {
    border-radius: 6px;
    border: 1px solid var(--color-grey-light-6);
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.job {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  &Icon {
    width: 14px;
    height: 14px;

    fill: var(--color-grey-dark-3);
  }
}

.location {
  display: flex;
  font-size: 1rem;
  color: var(--color-grey-dark-3);

  &Icon {
    width: 14px;
    height: 14px;

    fill: var(--color-grey-dark-3);
  }
}
