@import '@/sass/abstracts/mixins';

// .header {
//   position: relative;
//   height: 56rem;
//   background-image: linear-gradient(
//       to right bottom,
//       rgba(0, 0, 0, 0.5),
//       rgba(0, 0, 0, 0.3)
//     ),
//     url('/img/hotel-2.jpg');
//   background-size: cover;
//   background-position: center;
//   border-bottom: var(--color-grey-light-2);
//   // padding-top: var(--lg-navbar-height);

//   @include respond(phone) {
//     padding-top: var(--sm-navbar-height);
//   }

//   @include respond(tab-port) {
//     display: none;
//   }
// }

.container {
  // padding: 20px;
  padding: 80px 40px 80px 40px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.text {
  text-align: right;
  color: var(--color-grey-dark-3);
  flex: 0;
}

.small {
  font-size: 3rem;
}

.big {
  font-size: 5rem;
  color: var(--color-black);
}
