.btn {
  &, // <- this is for <button> element
  &:link,
  &:visited {
    // display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 16px;
    color: var(--color-black);
    border: 1px solid transparent;
    // border-radius: var(--border-radius-circle);
    border-radius: var(--border-radius-circle-sm);
    text-decoration: none;
    // text-transform: uppercase;
    transition: all 0.4s;

    // change for the <button> element
    // border: none;
    cursor: pointer;
  }

  // &:hover {
  //   background-color: var(--color-primary-light);
  //   color: $color-white;
  //   box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  //   transform: translateY(-2px);
  // }

  // &:active,
  // &:focus {
  //   outline: none;
  //   box-shadow: 0 1rem 1rem rgba($color-black, 0.15);
  //   transform: translateY(0px);
  // }

  &-white {
    border-color: var(--color-border-grey-dark);
    color: var(--color-black);
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &-green {
    color: var(--color-white);
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    // transition: all 0.2s;

    &:hover {
      background-color: var(--color-primary-green);
      border-color: var(--color-primary-green);
    }
  }

  &-red {
    color: var(--color-white);
    background-color: var(--color-red-light-2);
    border-color: var(--color-red-light-2);
    // transition: all 0.2s;

    &:hover {
      background-color: var(--color-red-light-3);
      border-color: var(--color-red-light-3);
    }
  }
}
