.main-search {
  display: flex;
  border-radius: 5px;
  margin-right: 0.6rem;
  background-color: var(--color-grey-light-5);
  // border: 1px solid var(--color-border-grey-dark);
  border-radius: var(--border-radius-circle-sm);
  transition: all 0.2s;

  // if child is focused parent css changed
  &:focus-within {
    // border: 1px solid var(--color-black);
    background-color: var(--color-grey-light-6);
  }

  &-space {
    width: 1.4rem;
  }
}

.search {
  &-input {
    padding: 10px 0px 10px 8px;
    border: 1px solid black;
    max-width: 35rem;
    min-width: 20rem;
    background-color: inherit;
    border: none;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-family: inherit;
      font-weight: inherit;
      font-size: 1.2rem;
    }
  }

  &-label {
    display: flex;
    justify-content: center;
  }

  &-icon-wrapper {
    position: relative;
    font-size: 1.2rem;
    padding: 0 1.6rem;
    width: 20px;
  }

  &-icon {
    position: absolute;
    font-size: 14px;
    top: 8px;
    left: 14px;
    color: var(--color-black);
  }
}
