// When we add a utility class, we really want to happen whatever we say in one of these
// classes, so, we actually want to override everything, use !important

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-mg-4x {
  margin: 0 4rem;
}

.u-mg-3y {
  margin: 3rem auto !important;
}

.u-margin-center {
  margin: 0 auto;
  // text-align: center;
}

.u-w-100 {
  width: 100%;
}

.u-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.u-4-3-ratio {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 75%;
  // overflow: hidden;
}

.d-flex {
  display: flex;
}

.d-inline-b {
  display: inline-block;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.vertical-align {
  vertical-align: middle;
}

.d-none {
  display: none;
}

.mg-top-5 {
  margin-top: 5px;
}

.mg-top-7 {
  margin-top: 7px;
}

.circle-img {
  border-radius: 50%;
}

.x-pad-20 {
  padding: 0 20px;
}

@include respond(tab-port /* 900px */) {
  .max-d-none-sm {
    display: none !important;
  }
}

@media (min-width: 56.25em /* 901/16 = 56.3125 */) {
  .min-d-none-sm {
    display: none !important;
  }
}

@include respond(phone) {
  .max-d-none-xs {
    display: none !important;
  }
}

@media (min-width: 37.5625em /* 601/16 = 56.3125 */) {
  .min-d-none-xs {
    display: none !important;
  }
}
