@import '@/sass/abstracts/_mixins.scss';

.container {
  display: flex;
  padding: 0 4rem;

  @include respond(tab-port) {
    padding: 0 1rem;
  }
}

.filter {
  width: 350px;
  height: calc(100vh - var(--lg-navbar-height));
  flex-shrink: 1;
  border-right: 1px solid var(--color-grey-light-6);

  @include respond(phone) {
    display: none;
  }

  &Content {
    padding: 3.2rem 2rem;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      // color: var(--color-grey-dark-2);
    }

    button {
      font-size: 1.3rem;
      padding: 6px;
      color: var(--color-grey-dark-1);
      background-color: var(--color-white);
      border: 1px solid var(--color-grey-light-4);
      border-radius: var(--border-radius-circle-sm);
      cursor: pointer;
    }
  }

  &Body {
    padding: 0 2rem;
  }

  &Btn {
    width: 130px;
    display: block;
    margin: 20px auto;
    font-size: 1.5rem;
    padding: 1.2rem 0;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: var(--border-radius-circle-sm);
    text-decoration: none;
    transition: all 0.4s;
    cursor: pointer;
  }
}

.artworkCarousel {
  display: grid;
}

.artworkScroller {
  overflow: hidden;
  width: auto;
  position: relative;
}

.portfolios {
  display: inline-block;
  width: 100%;
  flex-shrink: 2;

  @include respond(phone) {
    margin-top: 3rem;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: inline-block;
      padding: 2rem;
      font-size: 2rem;
      font-weight: 700;
      color: var(--color-primary-green);
    }

    button {
      display: none;
      margin-right: 14px;

      @include respond(phone) {
        display: block;
      }
    }
  }
}

.user {
  &List {
    position: relative;
  }

  &Item {
    width: 100%;
    max-width: 900px;
    border-bottom: 1px solid var(--color-grey-light-6);
  }

  &Card {
    padding: 3.5rem 2rem;
  }

  &Works {
    display: flex;
    // overflow: hidden;
    overflow: auto;
    cursor: pointer;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.job {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  &Icon {
    width: 14px;
    height: 14px;

    fill: var(--color-grey-dark-3);
  }
}

.location {
  display: flex;
  font-size: 1rem;
  color: var(--color-grey-dark-3);

  &Icon {
    width: 14px;
    height: 14px;

    fill: var(--color-grey-dark-3);
  }
}

.picture {
  position: relative;
  min-width: 230px;
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }

  & img {
    object-fit: cover;
    border-radius: 6px;
  }
}

.errorContainer {
  margin-top: 40px;
}

.skeletonProfile {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: var(--color-grey-light-5);
}

.skeletonData {
  display: flex;
  flex-direction: column;
}

.skeletonName {
  width: 60px;
  height: 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  background: var(--color-grey-light-5);
}

.skeletonImgContainer {
  width: 230px;
  // margin-right: 20px;
}

.skeletonImg {
  background: var(--color-grey-light-5);
  border-radius: var(--border-radius-circle-sm);
}
