@import '@/sass/abstracts/mixins';

.filterModal {
  display: none;

  &Body {
    padding: 0 4rem;
    width: 100%;
    display: inline-block;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;

  & > p {
    font-size: 1.6rem;
  }

  button {
    font-size: 1.3rem;
    padding: 6px;
    margin-left: 10px;
    color: var(--color-grey-dark-1);
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-light-4);
    border-radius: var(--border-radius-circle-sm);
    cursor: pointer;
  }
}
