// COLORS
$color-black: #000;
$color-white: #fff;
$color-grey-dart-1: #777;
$color-grey-dart-2: #999;
$color-grey-dart-3: #333;

$color-primary: green;
$color-secondary: yellow;

$color-red-dark: #ff7730;

// Font size
$default-font-size: 1.6rem;
