@import '@/sass/abstracts/mixins';

.container {
  display: grid;
  margin: 7rem 4.2rem;
  // grid-template-columns: minmax(320px, 450px) minmax(320px, 100%);
  grid-template-columns: minmax(320px, 100%) 320px;
  grid-template-rows: minmax(100px, max-content) auto;

  @include respond(tab-port) {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  h1 {
    // font-family: sans-serif;
    // margin: 8rem;
    // text-align: center;
    // font-size: 3rem;
    // font-weight: 100;
    // color: var(--color-success);
    font-family: sans-serif;
    margin: 2rem 0;
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-grey-dark-2);
  }
}

.description {
  margin: 20px 0;
  // padding: 0 2rem;
  @include respond(tab-port) {
    order: 3;
  }

  h3 {
    font-size: 1.5rem;
  }

  .text {
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 14px;
  }
}

.artwork {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2.4rem;
  grid-row: span 2;

  @include respond(tab-port) {
    order: 2;
    margin-top: 2rem;
  }
}

.imgContainer {
  position: relative;
  // box-shadow: var(--image-box-shadow);
  // margin: 2rem 4.2rem;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    // object-fit: contain;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.smImgContainer {
  width: 33.33%;
  max-width: 100px;
  margin: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--image-box-shadow);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);

  img {
    object-fit: contain;
    border-radius: var(--border-radius-circle-sm);
  }
}

.imageNotFound {
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-grey-dark-2);
}

.profile {
  display: block;

  @include respond(tab-port) {
    order: 1;
  }
}

.skeletonProfile {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: var(--color-grey-light-5);
}

.skeletonData {
  display: flex;
  flex-direction: column;
}

.skeletonName {
  width: 60px;
  height: 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  background: var(--color-grey-light-5);
}
